<p id="notice"><%= notice %></p>

<h1>Medics</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-2">Surname</th>
      <th class="col-xs-2">Birth date</th>
      <th class="col-xs-2">Specialty</th>
      <th class="col-xs-1">Acciones</th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @medics.each do |medic| %>
      <tr>
        <td><%= medic.name %></td>
        <td><%= medic.surname %></td>
        <td><%= medic.birth_date %></td>
        <td><%= medic.specialty %></td>
        <td><%= link_to 'Show', medic, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Edit', edit_medic_path(medic), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Destroy', medic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medic', new_medic_path, class: 'btn btn-default btn-sm' %>
