<p id="notice"><%= notice %></p>

<div class="field form-group">
  <strong>Name:</strong>
  <%= @medic.name %>
</div>

<div class="field form-group">
  <strong>Surname:</strong>
  <%= @medic.surname %>
</div>

<div class="field form-group">
  <strong>Birth date:</strong>
  <%= @medic.birth_date %>
</div>

<div class="field form-group">
  <strong>Specialty:</strong>
  <%= @medic.specialty %>
</div>

<%= link_to 'Edit', edit_medic_path(@medic), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', medics_path, class: 'btn btn-default btn-sm' %>
