<p id="notice"><%= notice %></p>

<h1>Laboratorios</h1>

<div class = "field form-group">
  <strong>Nombre:</strong>
  <%= @laboratory.name %>
</div>

<div class = "field form-group" >
  <strong>Direccion:</strong>
  <%= @laboratory.address %>
</div>

<%= link_to 'Edit', edit_laboratory_path(@laboratory), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', laboratories_path, class: 'btn btn-default btn-sm' %>
