<p id="notice"><%= notice %></p>

<h1>Remisiones</h1>

<table>
  <thead>
    <tr>
      <th class="col-xs-2">Constancias</th>
      <th class="col-xs-7">Laboratorio</th>
      <th class="col-xs-3">Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remissions.each do |remission| %>
      <tr>
        <td><%= remission.constancy_id %></td>
        <td><%= remission.laboratory_id %></td>
        <td><%= remission.date %></td>
        <td><%= link_to 'Mostrar', remission, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Modificar', edit_remission_path(remission), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Eliminar', remission, method: :delete, data: { confirm: 'Está Seguro?' }, class: 'btn btn-default btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Remision', new_remission_path, class: 'btn btn-default btn-sm' %>
