<p id="notice"><%= notice %></p>

<h1>Remissions</h1>

<table>
  <thead>
    <tr>
      <th>Constancy</th>
      <th>Laboratory</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remissions.each do |remission| %>
      <tr>
        <td><%= remission.constancy_id %></td>
        <td><%= remission.laboratory_id %></td>
        <td><%= remission.date %></td>
        <td><%= link_to 'Show', remission %></td>
        <td><%= link_to 'Edit', edit_remission_path(remission) %></td>
        <td><%= link_to 'Destroy', remission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remission', new_remission_path %>
