<%= form_for(constancy) do |f| %>
  <% if constancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constancy.errors.count, "error") %> prohibited this constancy from being saved:</h2>

      <ul>
      <% constancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pacient_id %>
    <%= f.number_field :pacient_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
