<p id="notice"><%= notice %></p>

<div class="field form-group">
  <strong>Constancy:</strong>
  <%= @result.constancy_id %>
</div>

<div class="field form-group">
  <strong>Date:</strong>
  <%= @result.date %>
</div>

<div class="field form-group">
  <strong>Description:</strong>
  <%= @result.description %>
</div>

<%= link_to 'Edit', edit_result_path(@result), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', results_path, class: 'btn btn-default btn-sm' %>
