<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="col-xs-3">Date</th>
      <th class="col-xs-2">Subtotal</th>
      <th class="col-xs-2">Tax</th>
      <th class="col-xs-2">Discount</th>
      <th class="col-xs-3">Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.date %></td>
        <td><%= bill.subtotal %></td>
        <td><%= bill.tax %></td>
        <td><%= bill.discount %></td>
        <td><%= bill.total %></td>
        <td><%= link_to 'Show', bill, class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to 'Edit', edit_bill_path(bill), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path, class: 'btn btn-default btn-sm' %>
