<p id="notice"><%= notice %></p>

<div class="field form-group">
  <strong>Date:</strong>
  <%= @bill.date %>
</div>

<div class="field form-group">
  <strong>Subtotal:</strong>
  <%= @bill.subtotal %>
</div>

<div class="field form-group">
  <strong>Tax:</strong>
  <%= @bill.tax %>
</div>

<div class="field form-group">
  <strong>Discount:</strong>
  <%= @bill.discount %>
</div>

<div class="field form-group">
  <strong>Total:</strong>
  <%= @bill.total %>
</div>

<%= link_to 'Edit', edit_bill_path(@bill), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', bills_path, class: 'btn btn-default btn-sm' %>
