<p id="notice"><%= notice %></p>

<div div class="field form-group">
  <strong>Constancy:</strong>
  <%= @order.constancy_id %>
</div>

<div div class="field form-group">
  <strong>Bill:</strong>
  <%= @order.bill_id %>
</div>

<div div class="field form-group">
  <strong>Type:</strong>
  <%= @order.order_type %>
</div>

<div div class="field form-group">
  <strong>Observation:</strong>
  <%= @order.observation %>
</div>

<%= link_to 'Edit', edit_order_path(@order), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', orders_path, class: 'btn btn-default btn-sm' %>
