<p id="notice"><%= notice %></p>

<h1>Phone Numbers</h1>

<table>
  <thead>
    <tr>
      <th class="col-xs-5">Patient</th>
      <th class="col-xs-4">Phone number</th>
      <th class="col-xs-1">Acciones</th>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_numbers.each do |phone_number| %>
      <tr>
        <td><%= phone_number.patient %></td>
        <td><%= phone_number.phone_number %></td>
        <td><%= link_to 'Show', phone_number, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Edit', edit_phone_number_path(phone_number), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Number', new_phone_number_path, class: 'btn btn-default btn-sm' %>
