<p id="notice"><%= notice %></p>

<div class="field form-group">
  <strong>Patient:</strong>
  <%= @phone_number.patient %>
</div>

<div class="field form-group">
  <strong>Phone number:</strong>
  <%= @phone_number.phone_number %>
</div>

<%= link_to 'Edit', edit_phone_number_path(@phone_number), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', phone_numbers_path, class: 'btn btn-default btn-sm' %>
