<p id="notice"><%= notice %></p>

<div class="field form-group">
  <strong>Paciente:</strong>
  <%= @expedient.patient_id %>
</div>

<div class="field form-group">
  <strong>Nombre:</strong>
  <%= @expedient.name %>
</div>

<div class="field form-group">
  <strong>Apellido:</strong>
  <%= @expedient.surname %>
</div>

<div class="field form-group">
  <strong>Genero:</strong>
  <%= @expedient.genre %>
</div>

<div class="field form-group">
  <strong>Estado Civil:</strong>
  <%= @expedient.civil_status %>
</div>

<div class="field form-group">
  <strong>Lugar de Nacimiento:</strong>
  <%= @expedient.birth_place %>
</div>

<div class="field form-group">
  <strong>Fecha de Nacimiento:</strong>
  <%= @expedient.birth_date %>
</div>

<div class="field form-group">
  <strong>Ocupacion:</strong>
  <%= @expedient.occupation %>
</div>

<div class="field form-group">
  <strong>Tipo de Sangre:</strong>
  <%= @expedient.blood_type %>
</div>

<div class="field form-group">
  <strong>Direccion:</strong>
  <%= @expedient.address %>
</div>

<div class="field form-group">
  <strong>Email:</strong>
  <%= @expedient.email %>
</div>

<%= link_to 'Modificar', edit_expedient_path(@expedient), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Atras', expedients_path, class: 'btn btn-default btn-sm' %>
